@model EmployeeManager.Models.Employee

@using (Html.BeginForm())
{
    Html.HiddenFor(model => model.id);

    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(model => model.name, new { @required="required", @class="form-control" })
        @Html.ValidationMessageFor(model => model.name)
    </div>

    <div class="form-group">
        <label>E-mail</label>
        @Html.TextBoxFor(model => model.email, new { @required = "required", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.email)
    </div>

    <div class="form-group">
        <label>Department</label>
        @Html.TextBoxFor(model => model.department, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.department)
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="@Url.Action("Index","Employees")" class="btn btn-link">Back</a>    
}